/*.opensdf
/*.sdf
/*.suo
/*.aps
/*.dll
/*.exp
/*.idb
/*.ilk
/*.lib
/*.opensdf
/*.pdb
/*.sdf
/*.suo
/*.user
/.vs
/Backup
/Debug
/x64
/RA_Integration.dll
/RA_Integration.exp
/RA_Integration.ilk
/RA_Integration.lib
/RA_Integration.pdb
/RA_Integration_d.dll
/RA_Shared.aps
/Release
/ReleaseWithDebug
/RA_BuildVer.h
/Diffs.txt
/LiveTag.txt
/Temp.txt
/Debug
/Release
/ipch
/*.suo
/*.sdf
/*.opensdf
/BuildVer.cs
/BuildVer.h
/.vs
/*.db
/*.bat
/*.ppk
/Stage
/*.ftp
/*.log
/RetroAchievementsKey
/*.opendb
