/*.opensdf
/*.sdf
/*.suo
/bizhawk/*.suo
/bizhawk/BizHawk.Client.Common/obj
/bizhawk/BizHawk.Client.Common/bin
/bizhawk/BizHawk.Client.DBMan/obj
/bizhawk/BizHawk.Client.DBMan/bin
/bizhawk/BizHawk.Client.DiscoHawk/obj
/bizhawk/BizHawk.Client.DiscoHawk/bin
/bizhawk/BizHawk.Client.EmuHawk/obj
/bizhawk/BizHawk.Client.EmuHawk/bin
/bizhawk/BizHawk.Common/obj
/bizhawk/BizHawk.Common/bin
/bizhawk/BizHawk.Emulation.Common/bin
/bizhawk/BizHawk.Emulation.Common/obj
/bizhawk/BizHawk.Emulation.Cores/bin
/bizhawk/BizHawk.Emulation.Cores/obj
/bizhawk/BizHawk.Emulation.DiscSystem/bin
/bizhawk/BizHawk.Emulation.DiscSystem/obj
/bizhawk/Bizware/BizHawk.Bizware.BizwareGL.OpenTK/bin
/bizhawk/Bizware/BizHawk.Bizware.BizwareGL.OpenTK/obj
/bizhawk/Bizware/BizHawk.Bizware.BizwareGL/bin
/bizhawk/Bizware/BizHawk.Bizware.BizwareGL/obj
/bizhawk/LuaInterface/LuaInterface.sdf
/bizhawk/LuaInterface/LuaInterface.suo
/bizhawk/output/BizHawk.Bizware.BizwareGL.dll
/bizhawk/output/BizHawk.Bizware.BizwareGL.OpenTK.dll
/bizhawk/output/BizHawk.Bizware.BizwareGL.OpenTK.pdb
/bizhawk/output/BizHawk.Bizware.BizwareGL.pdb
/bizhawk/output/BizHawk.Client.Common.dll
/bizhawk/output/BizHawk.Client.Common.pdb
/bizhawk/output/BizHawk.Client.DBMan.exe
/bizhawk/output/BizHawk.Client.DBMan.exe.config
/bizhawk/output/BizHawk.Client.DBMan.pdb
/bizhawk/output/BizHawk.Common.dll
/bizhawk/output/BizHawk.Common.pdb
/bizhawk/output/BizHawk.Emulation.Common.dll
/bizhawk/output/BizHawk.Emulation.Common.pdb
/bizhawk/output/BizHawk.Emulation.Cores.dll
/bizhawk/output/BizHawk.Emulation.Cores.pdb
/bizhawk/output/BizHawk.Emulation.DiscSystem.dll
/bizhawk/output/BizHawk.Emulation.DiscSystem.pdb
/bizhawk/output/config.ini
/bizhawk/output/CSharp-SQLite.dll
/bizhawk/output/DiscoHawk.exe
/bizhawk/output/DiscoHawk.exe.config
/bizhawk/output/DiscoHawk.pdb
/bizhawk/output/dll/BizHawk.Bizware.BizwareGL.dll
/bizhawk/output/dll/BizHawk.Bizware.BizwareGL.OpenTK.dll
/bizhawk/output/dll/BizHawk.Bizware.BizwareGL.OpenTK.pdb
/bizhawk/output/dll/BizHawk.Bizware.BizwareGL.pdb
/bizhawk/output/dll/BizHawk.Client.Common.dll
/bizhawk/output/dll/BizHawk.Client.Common.pdb
/bizhawk/output/dll/BizHawk.Common.dll
/bizhawk/output/dll/BizHawk.Common.pdb
/bizhawk/output/dll/BizHawk.Emulation.Common.dll
/bizhawk/output/dll/BizHawk.Emulation.Common.pdb
/bizhawk/output/dll/BizHawk.Emulation.Cores.dll
/bizhawk/output/dll/BizHawk.Emulation.Cores.pdb
/bizhawk/output/dll/BizHawk.Emulation.DiscSystem.dll
/bizhawk/output/dll/BizHawk.Emulation.DiscSystem.pdb
/bizhawk/output/dll/RAInterface.dll
/bizhawk/output/dll/RAInterface.pdb
/bizhawk/output/EmuHawk.exe
/bizhawk/output/EmuHawk.exe.config
/bizhawk/output/EmuHawk.pdb
/bizhawk/output/OpenTK.dll
/bizhawk/output/OpenTK.GLControl.dll
/bizhawk/output/RAInterface.dll
/bizhawk/output/RAInterface.pdb
/bizhawk/output/SlimDX.dll
/bizhawk/RAInterface/bin
/bizhawk/RAInterface/obj
/RA_Integration/*.aps
/RA_Integration/*.dll
/RA_Integration/*.exp
/RA_Integration/*.idb
/RA_Integration/*.ilk
/RA_Integration/*.lib
/RA_Integration/*.opensdf
/RA_Integration/*.pdb
/RA_Integration/*.sdf
/RA_Integration/*.suo
/RA_Integration/*.user
/RA_Integration/Backup
/RA_Integration/Debug
/RA_Integration/RA_Integration.dll
/RA_Integration/RA_Integration.exp
/RA_Integration/RA_Integration.ilk
/RA_Integration/RA_Integration.lib
/RA_Integration/RA_Integration.pdb
/RA_Integration/RA_Integration_d.dll
/RA_Integration/RA_Shared.aps
/RA_Integration/Release
/RA_Integration/ReleaseWithDebug
/RAGens/win32/*.cfg
/RAGens/win32/*.dll
/RAGens/win32/*.gs0
/RAGens/win32/*.gs1
/RAGens/win32/*.gs2
/RAGens/win32/*.gs3
/RAGens/win32/*.gs4
/RAGens/win32/*.gs5
/RAGens/win32/*.gs6
/RAGens/win32/*.gs7
/RAGens/win32/*.gs8
/RAGens/win32/*.gs9
/RAGens/win32/*.ncb
/RAGens/win32/*.old
/RAGens/win32/*.opensdf
/RAGens/win32/*.pdb
/RAGens/win32/*.rap
/RAGens/win32/*.sdf
/RAGens/win32/*.srm
/RAGens/win32/*.suo
/RAGens/win32/*.user
/RAGens/win32/Backup
/RAGens/win32/RACache
/RAGens/win32/Debug
/RAGens/win32/Release
/RAGens/win32/ReleaseWithDebug
/RAGens/win32/obj
/RAGens/win32/RA_Integration.dll
/RAGens/win32/RA_Integration_d.dll
/RAGens/win32/RA_Keys.dll
/RAGens/win32/RAGens.ncb
/RAGens/win32/RAGens.suo
/RAGens/win32/src/*.aps
/RANes/output/*.dll
/RANes/output/*.pdb
/RANes/output/fceux.cfg
/RANes/output/RA_Integration.dll
/RANes/output/RANes.exe
/RANes/output/RANes.exp
/RANes/output/RANes.lib
/RANes/output/RANes.pdb
/RANes/vc/*.opensdf
/RANes/vc/*.sdf
/RANes/vc/*.suo
/RANes/vc/*.user
/RANes/vc/RA_Keys.dll
/RANes/vc/RACache
/RANes/vc/vc9_bin_Debug
/RANes/vc/vc9_obj_Debug
/RANes/vc/vc9_bin_Release
/RANes/vc/vc9_obj_Release
/RANes/output/RANes.lib
/RANes/output/RANes.exe
/RANes/output/RANes.exp
/RANes/output/fceux.cfg
/RASnes9x/libpng/projects/visualc71/Win32_LIB_Release/*.lib
/RASnes9x/libpng/projects/visualc71/Win32_LIB_Release/*.pch
/RASnes9x/win32/*.opensdf
/RASnes9x/win32/*.sdf
/RASnes9x/win32/*.suo
/RASnes9x/win32/Backup/*.suo
/RASnes9x/win32/Debug
/RASnes9x/win32/RA_Integration.dll
/RASnes9x/win32/RASnes9X.exe
/RASnes9x/win32/Release
/RASnes9x/libpng/projects/visualc71/Win32_LIB_Release
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatRelease
/RASnes9x/libpng/projects/visualc71/Win32_LIB_Release/*.lib
/RASnes9x/libpng/projects/visualc71/Win32_LIB_Release/*.pch
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatRelease/*.lib
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatReleaseWithoutAsm/Tmp
/RASnes9x/win32/*.opensdf
/RASnes9x/win32/RA_Integration.dll
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/*.user
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatReleaseWithoutAsm
/RASnes9x/win32/RASnes9X.exe
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/*.user
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatDebug/*.idb
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatDebug/Tmp
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatRelease
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatRelease/*.idb
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatRelease/*.lib
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatRelease/*.pdb
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatRelease/Tmp
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatRelease/vc110.pdb
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatReleaseWithoutAsm
/RASnes9x/zlib-1.2.8/contrib/vstudio/vc9/x86/ZlibStatReleaseWithoutAsm/Tmp
/RAVBA-M/dependencies/libpng/project/vs2012/Debug
/RAVBA-M/dependencies/libpng/project/vs2012/Release
/RAVBA-M/dependencies/libpng/project/vs2012/*.user
/RAVBA-M/dependencies/libpng/project/vs2012/Debug
/RAVBA-M/dependencies/libpng/project/vs2012/Release
/RAVBA-M/dependencies/libpng/project/vs2012/Win32
/RAVBA-M/dependencies/SFML/build/vc2012/*.user
/RAVBA-M/dependencies/SFML/build/vc2012/Debug
/RAVBA-M/dependencies/SFML/build/vc2012/Debug
/RAVBA-M/dependencies/SFML/build/vc2012/Release
/RAVBA-M/dependencies/zlib/project/vs2012/*.user
/RAVBA-M/dependencies/zlib/project/vs2012/Debug
/RAVBA-M/dependencies/zlib/project/vs2012/Debug
/RAVBA-M/dependencies/zlib/project/vs2012/Release
/RAVBA-M/fex/*.user
/RAVBA-M/fex/Debug
/RAVBA-M/fex/Release
/RAVBA-M/project/vs2012_mfc/*.cfg
/RAVBA-M/project/vs2012_mfc/*.opensdf
/RAVBA-M/project/vs2012_mfc/*.pdb
/RAVBA-M/project/vs2012_mfc/ipch
/RAVBA-M/project/vs2012_mfc/RA_Integration_d.dll
/RAVBA-M/project/vs2012_mfc/RA_Integration.dll
/RAVBA-M/project/vs2012_mfc/RA_Keys.dll
/RAVBA-M/project/vs2012_mfc/RACache
/RAVBA-M/project/vs2012_mfc/*.sdf
/RAVBA-M/project/vs2012_mfc/*.suo
/RAVBA-M/project/vs2012_mfc/*.user
/RAVBA-M/project/vs2012_mfc/Release
/RAVBA-M/project/vs2012_mfc/Win32
/RAVBA-M/src/*.obj
/RAVBA-M/src/filters/*.obj
/RAVBA-M/src/*.obj
/RAVBA-M/project/vs2012_mfc/RA_Integration.dll
/RAVBA-M/project/vs2012_mfc/RA_Keys.dll
/RAVBA-M/project/vs2012_mfc/*.cfg
/RAVBA-M/project/vs2012_mfc/*.opensdf
/RAVBA-M/src/filters/temp.obj
/RAVBA-M/src/temp.obj
/Debug
/Release
/ipch
/*.suo
/*.sdf
/*.opensdf
/RANes/vc/*.cfg
/RANes/vc/RA_Integration_d.dll
/RANes/vc/RA_Integration_d.pdb
/RASnes9x/win32/Saves
/RASnes9x/libpng/projects/visualc71/Win32_LIB_Debug
/RANes/vc/Debug/obj/*.cache
/RASnes9x/win32/*.user
/RAVBA-M/project/vs2012_mfc/Debug
/bizhawk/RAInterface/BuildVer.cs
/bizhawk/RAInterface/Diffs.txt
/bizhawk/RAInterface/LiveTag.txt
/BuildVer.cs
/BuildVer.h
/RAGens/win32/Diffs.txt
/RAGens/win32/LiveTag.txt
/RAGens/common/src/BuildVer.h
/RANes/src/BuildVer.h
/RANes/vc/Debug/obj
/RANes/vc/Debug
/RANes/vc/Diffs.txt
/RANes/vc/LiveTag.txt
/RASnes9x/win32/BuildVer.h
/RASnes9x/win32/Diffs.txt
/RASnes9x/win32/LiveTag.txt
/RAVBA-M/src/win32/VBA.APS
/RAVBA-M/project/vs2012_mfc/Diffs.txt
/RAVBA-M/project/vs2012_mfc/LiveTag.txt
/RAVBA-M/src/BuildVer.h
/bizhawk/output/N64/SaveRAM/*.SaveRAM
/bizhawk/output/N64/SaveRAM/*.bak
/bizhawk/output/N64/State/*.State
/bizhawk/output/N64/State/*.bak
/RA_Integration/RA_BuildVer.h
/RA_Integration/Diffs.txt
/RA_Integration/LiveTag.txt
/RA_Integration/Temp.txt
/RA_Integration_CS/RAInterface/bin/Debug
/RA_Integration_CS/RAInterface/bin/Release
/RA_Integration_CS/RAInterface/BuildVer.cs
/RA_Integration_CS/RAInterface/Diffs.txt
/RA_Integration_CS/RAInterface/LiveTag.txt
/RA_Integration_CS/RAInterface/obj/
/.vs
/*.db
/RAVBA-M/project/vs2012_mfc/BuildVer.h
/RAVBA-M/Debug/File_Extractor2012.log
/RAVBA-M/dependencies/SFML/build/Debug/sfml-network.log
/RAVBA-M/dependencies/libpng/project/Debug/libpng.log
/RAVBA-M/dependencies/zlib/project/Debug/zlib.log
/RAVBA-M/Release/File_Extractor2012.log
/RAVBA-M/dependencies/SFML/build/Release/sfml-network.log
/RAVBA-M/dependencies/zlib/project/Release/zlib.log
/*.bat
/*.ppk
/Stage
/*.ftp
/RASnes9x/libpng/projects/Win32_LIB_Release/libpng.log
/RASnes9x/zlib-1.2.8/contrib/vstudio/x86/ZlibStatRelease/Tmp/zlibstat.log
/*.log
/RANes/output/RANes_d.exe
/RANes/output/RANes_d.ilk
/RAGens/win32/*.brm
