#----------------------------------------------------------------------
# quasi88.rc
#
#       このファイルは、UNIX版 QUASI88 の環境設定ファイルです。
#	このファイルは、 ~/.quasi88/quasi88.rc にコピーしてお使い下さい。

#	1行は 255文字以内としてください。
#	# から行末までは、コメントとみなされます。
#----------------------------------------------------------------------


#########################################
#	PC-8801 の起動状態設定		#
#########################################

######## BASIC MODE		( -n/-v1s/-v1h/-v2 から選択。未指定時は 自動 )
#-v2

######## CPU クロック		( -4mhz/-8mhz から選択。未指定時は -4mhz )
#-4mhz

######## ディップスイッチ	( NEW ON命令の引数と同じ。未指定時は 0x391a )
#-dipsw		0x391a

######## サウンドボードの選択	( -sd/-sd2 から選択。未指定時は -sd )
#-sd2

######## ジョイスティックの設定	( -nomouse/-mouse/-joymouse/-joystick から選択)
-nomouse



#########################################
#	エミュレーションの設定		#
#########################################

######## サブCPUの駆動切り替えタイミング  ( 0〜2の値を指定、未指定時は、0 )
#	 -cpu 1 にすると、ほとんどのアプリケーションが動くと思われます。
#-cpu		0

######## FDCのウェイトをありにする	( 未指定時は、ウェイトなし )
#	 -fdc_wait を指定しないと、動作しないアプリケーションがあります。
#-fdc_wait

######## 実機との速度比		( 5〜5000 [%]の値を指定、未指定時は 100 )
#-speed		100



#################################
#	グラフィックの設定	#
#################################

######## 画面更新時のフレームスキップ数  ( 1以上の値を指定。未指定時は 1 )
#-frameskip	1

######## 自動フレームスキップ	( -autoskip/-noautoskip から選択 )
#-autoskip

######## 画面サイズ		( -half/-full から選択。未指定時は -full )
-full

######## ウインドウサイズ	( 未指定時は、画面サイズと同じ )
#-width		680
#-height	440

######## インターレース設定	( -noskipline/-skipkine/-interlace から選択 )
-noskipline



#########################################################
#	サウンドの設定 (サウンド使用可能時のみ有効)	#
#########################################################

######## サウンド出力の有無	( -sound/-nosound から選択。未指定時は -sound )
#-sound

######## fmgen の使用有無	( -fmgen/-nofmgen から選択。未指定時は-nofmgen)
#-fmgen

######## 音量[db]		( -32〜0 の値を指定 )
#-volume	-3

######## サウンド音量レベル[%]  ( 0〜100 の値を指定 )
#-fmvol		100
#-psgvol	20
#-beepvol	60
#-rhythvol	100
#-adpcmvol	70



#################################
#	その他の設定		#
#################################

######## キー設定ファイルの読み込み
#-keyboard 0

######## キーバインディングの変更
#-tenkey
#-cursor
#-kanjikey

######## 作者は、ファンクションキーにこんな機能を割り当てています
#-f6	IMAGE-NEXT1
#-f7	IMAGE-NEXT2
#-f8	NOWAIT
#-f9	ROMAJI
#-f10	NUMLOCK


#################################
#	などなど		#
#################################

######## ROM用ディレクトリのパス
#-romdir	"/path/of/rom/image"

######## DISK用ディレクトリのパス
#-diskdir	"/path/of/disk/image"

######## TAPE用ディレクトリのパス
#-tapedir	"/path/of/tape/image"

######## P88SR.EXEのROMイメージを使用	( 未指定時は、使用しない )
#-compatrom	/file/name/of/rom/image

######## 冗長モードの設定		( 未指定時は、0 )
#-verbose	0

######## マウスをグラブする(ウインドウに閉じ込める)
#-grab_mouse

######## マウスを表示しない
#-hide_mouse

